<h2>Activation de votre compte</h2>
<p>Bonjour {{ user.firstName }},</p>
<p>Merci pour votre inscription. Cliquez sur le lien ci-dessous pour activer votre compte :</p>
<p><a href="{{ activationLink }}">{{ activationLink }}</a></p>
<p>Si vous n'etes pas a l'origine de cette inscription, ignorez ce message.</p>
