<h2>Reinitialisation du mot de passe</h2>

<p>Pour choisir un nouveau mot de passe, clique sur le lien suivant :</p>

<p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
        Reinitialiser mon mot de passe
    </a>
</p>

<p>
    Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>
